@model waMvcDay12.Models.Buku

@{
    ViewBag.Title = "AddBuku";
}

<h2>AddBuku</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Buku</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Kd_Buku, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kd_Buku)
                @Html.ValidationMessageFor(model => model.Kd_Buku)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nm_Buku, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nm_Buku)
                @Html.ValidationMessageFor(model => model.Nm_Buku)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Jml_Halaman, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Jml_Halaman)
                @Html.ValidationMessageFor(model => model.Jml_Halaman)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kd_Jenis, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kd_Jenis)
                @Html.ValidationMessageFor(model => model.Kd_Jenis)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
